.recipes {
  width: 90%;
  max-width: 1000px;
  margin: auto;

  &__header {

    &-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-self: center;
      align-items: center;
      margin: 30px;

      button {
        min-width: 270px;
        max-width: 300px;
        width: 40%;
        margin: 10px;
      }

      input {
        min-width: 270px;
        max-width: 400px;
        width: 60%;
      }
    }

    > h3 {
      width: 100%;
      font-weight: bolder;
    }
  }

  &__all {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-around;
    margin: auto;
    column-count: 3;
    column-gap: 0;

  }
}

@media screen and (max-width: 1100px) {
  .recipes {

    button {
      min-width: 230px;
      width: 40%;
      margin: 10px;
    }

    > input {
      min-width: 270px;
      width: 60%;
      margin: 10px;
    };

    &__all {
      margin: auto;
      column-count: 2;
      column-gap: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  .recipes {
    &__header {
      flex-direction: column;

      &-bar {
        flex-direction: column;
      }

      > input, button {
        min-width: 270px;
        width: 60%;
        margin: 10px;
      };
    }

    &__all {
      margin: auto;
      column-count: 1;
      column-gap: 0;
    }
  }
}