.main {
  text-align: center; }

.header {
  background: #bc2328;
  height: 50px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  justify-self: center; }
  .header a {
    color: white; }
  .header > div {
    align-self: center;
    padding: 30px; }
