.main {
  text-align: center;
}

.header {
  background: #bc2328;
  height: 50px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  justify-self: center;

  a {
    color: white;
  }

  > div {
    align-self: center;
    padding: 30px;
  }

}